[submodule "iterm2-zmodem"]
	path = iterm2-zmodem
	url = https://github.com/mmastrac/iterm2-zmodem
[submodule "Application Support/Sublime Text 3/Packages/SublimeBashTidy"]
	path = Application Support/Sublime Text 3/Packages/SublimeBashTidy
