.DS_Store
Application Support/ClipMenu/clips.data
Application Support/Sublime Text 3/Local/*.sublime_session
Application Support/Sublime Text 3/Local/License.sublime_license
Application Support/Sublime Text 3/Packages/User/Package Control*
Application Support/Sublime Text 3/Cache
Application Support/Sublime Text 3/Installed Packages
Application Support/Sublime Text 3/Backup
Application Support/Sublime Text 3/Cache
Application Support/V2RayX/cenmrev.v2rayx.v2ray-core.plist
Application Support/V2RayX/system_proxy_backup.plist
Application Support/Sublime Text 3/Index
