.DS_Store
Application Support/ClipMenu/clips.data
Application Support/Sublime Text 3/Local/*.sublime_session
Application Support/Sublime Text 3/Local/License.sublime_license
Application Support/Sublime Text 3/Packages/User/Package Control*
Application Support/Sublime Text 3/Cache
Application Support/Sublime Text 3/Installed Packages
Application Support/Sublime Text 3/Backup
Application Support/Sublime Text 3/Cache
Application Support/V2RayX/cenmrev.v2rayx.v2ray-core.plist
Application Support/V2RayX/system_proxy_backup.plist
Application Support/Sublime Text 3/Index
/Application Support/AndroidStudio3.3/Dto-Wrapper-Builder_Generator_7258.jar
/Application Support/AndroidStudio3.3/CpuUsageIndicator
/Application Support/AndroidStudio3.3/Codota
/Application Support/AndroidStudio3.3/CodeGlance
/Application Support/AndroidStudio3.3/YXDroidTools-Plugin
/Application Support/AndroidStudio3.3/StringManipulation
/Application Support/AndroidStudio3.3/Kotlin
/Application Support/AndroidStudio3.3/Key-Promoter-X
/Application Support/AndroidStudio3.3/jclasslib
/Application Support/AndroidStudio3.3/intellij-makefile
/Application Support/AndroidStudio3.3/intellij-javadocs
/Application Support/AndroidStudio3.3/GradleNavigationPlugin
/Application Support/AndroidStudio3.3/gradle-view
/Application Support/AndroidStudio3.3/Gradle Dependencies Helper
/Application Support/AndroidStudio3.3/FindBugs-IDEA-1.0.1
/Application Support/AndroidStudio3.3/embeddedlinux-jvmdebugger
/Application Support/AndroidStudio3.3/Alibaba Java Coding Guidelines
/Application Support/AndroidStudio3.3/smalidea
/Application Support/AndroidStudio3.3/MirrorASPlugin
/Application Support/AndroidStudio3.3/Material Theme
/Application Support/AndroidStudio3.3/LineCounter-release
/Application Support/AndroidStudio3.3/Statistic-3.4.1.jar
/Application Support/AndroidStudio3.3/SGsonFormat.jar
/Application Support/AndroidStudio3.3/plugin_1_2.jar
/Application Support/AndroidStudio3.3/LifecycleSorter.jar
/Application Support/AndroidStudio3.3/JniVarConvert2CStyleVar.jar
/Application Support/AndroidStudio3.3/gradle-repo-idea-plugin.jar
/Application Support/AndroidStudio3.3/gradle-android-metric-pmd.jar
/Application Support/AndroidStudio3.3/gradle-android-metric-core.jar
/Application Support/AndroidStudio3.3/gradle-android-metric-checkstyle.jar
/Application Support/AndroidStudio3.3/android-studio-toolbox.jar
/Application Support/AndroidStudio3.3/android-butterknife-zelezny.jar
/Application Support/AndroidStudio3.3/ADBWIFI.jar
/Application Support/AndroidStudio3.3/builder.jar
/Application Support/AndroidStudio3.3/availables.xml.etag
/Application Support/AndroidStudio3.3/availables.xml
/Preferences/AndroidStudio3.3/options/recentProjects.xml
/Preferences/AndroidStudio3.3/options/usage.statistics.xml
/Preferences/AndroidStudio3.3/options/updates.xml
/Application Support/V2RayX/cenmrev.v2rayx.v2ray-core.plist
/Application Support/V2RayX/system_proxy_backup.plist
