<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0A57E042-67CB-452D-8C6C-057A26A79BE1</key>
	<dict>
		<key>DNS</key>
		<dict/>
		<key>IPv4</key>
		<dict>
			<key>ConfigMethod</key>
			<string>DHCP</string>
		</dict>
		<key>IPv6</key>
		<dict>
			<key>ConfigMethod</key>
			<string>Automatic</string>
		</dict>
		<key>Interface</key>
		<dict>
			<key>DeviceName</key>
			<string>bridge0</string>
			<key>Hardware</key>
			<string>Ethernet</string>
			<key>Type</key>
			<string>Ethernet</string>
			<key>UserDefinedName</key>
			<string>Thunderbolt Bridge</string>
		</dict>
		<key>Proxies</key>
		<dict>
			<key>ExceptionsList</key>
			<array/>
			<key>HTTPEnable</key>
			<integer>0</integer>
			<key>HTTPPort</key>
			<integer>1087</integer>
			<key>HTTPProxy</key>
			<string>127.0.0.1</string>
			<key>HTTPSEnable</key>
			<integer>0</integer>
			<key>HTTPSPort</key>
			<integer>1087</integer>
			<key>HTTPSProxy</key>
			<string>127.0.0.1</string>
			<key>ProxyAutoConfigEnable</key>
			<integer>0</integer>
			<key>ProxyAutoConfigURLString</key>
			<string>http://127.0.0.1:8070/proxy.pac</string>
			<key>SOCKSEnable</key>
			<integer>0</integer>
			<key>SOCKSPort</key>
			<integer>1082</integer>
			<key>SOCKSProxy</key>
			<string>127.0.0.1</string>
		</dict>
		<key>SMB</key>
		<dict/>
		<key>UserDefinedName</key>
		<string>Thunderbolt Bridge</string>
	</dict>
	<key>18767789-6DB8-4777-9563-2343ED486759</key>
	<dict>
		<key>DNS</key>
		<dict>
			<key>ServerAddresses</key>
			<array>
				<string>115.159.157.26</string>
			</array>
		</dict>
		<key>IPv4</key>
		<dict>
			<key>ConfigMethod</key>
			<string>DHCP</string>
		</dict>
		<key>IPv6</key>
		<dict>
			<key>ConfigMethod</key>
			<string>Automatic</string>
		</dict>
		<key>Interface</key>
		<dict>
			<key>DeviceName</key>
			<string>en1</string>
			<key>Hardware</key>
			<string>AirPort</string>
			<key>Type</key>
			<string>Ethernet</string>
			<key>UserDefinedName</key>
			<string>Wi-Fi</string>
		</dict>
		<key>Proxies</key>
		<dict>
			<key>ExceptionsList</key>
			<array/>
			<key>HTTPEnable</key>
			<integer>0</integer>
			<key>HTTPPort</key>
			<integer>1087</integer>
			<key>HTTPProxy</key>
			<string>127.0.0.1</string>
			<key>HTTPSEnable</key>
			<integer>0</integer>
			<key>HTTPSPort</key>
			<integer>1087</integer>
			<key>HTTPSProxy</key>
			<string>127.0.0.1</string>
			<key>ProxyAutoConfigEnable</key>
			<integer>0</integer>
			<key>ProxyAutoConfigURLString</key>
			<string>http://127.0.0.1:8070/proxy.pac</string>
			<key>SOCKSEnable</key>
			<integer>0</integer>
			<key>SOCKSPort</key>
			<integer>1082</integer>
			<key>SOCKSProxy</key>
			<string>127.0.0.1</string>
		</dict>
		<key>SMB</key>
		<dict/>
		<key>UserDefinedName</key>
		<string>Wi-Fi</string>
	</dict>
	<key>33D4B773-73B7-428E-B078-1C25739B6B96</key>
	<dict>
		<key>DNS</key>
		<dict/>
		<key>IPv4</key>
		<dict>
			<key>ConfigMethod</key>
			<string>DHCP</string>
		</dict>
		<key>IPv6</key>
		<dict>
			<key>ConfigMethod</key>
			<string>Automatic</string>
		</dict>
		<key>Interface</key>
		<dict>
			<key>DeviceName</key>
			<string>en4</string>
			<key>Hardware</key>
			<string>Ethernet</string>
			<key>HiddenConfiguration</key>
			<true/>
			<key>Type</key>
			<string>Ethernet</string>
			<key>UserDefinedName</key>
			<string>iPhone USB</string>
		</dict>
		<key>Proxies</key>
		<dict>
			<key>HTTPEnable</key>
			<integer>0</integer>
			<key>HTTPPort</key>
			<integer>1087</integer>
			<key>HTTPProxy</key>
			<string>127.0.0.1</string>
			<key>HTTPSEnable</key>
			<integer>0</integer>
			<key>HTTPSPort</key>
			<integer>1087</integer>
			<key>HTTPSProxy</key>
			<string>127.0.0.1</string>
			<key>ProxyAutoConfigEnable</key>
			<integer>0</integer>
			<key>ProxyAutoConfigURLString</key>
			<string>http://127.0.0.1:8070/proxy.pac</string>
			<key>SOCKSEnable</key>
			<integer>0</integer>
			<key>SOCKSPort</key>
			<integer>1082</integer>
			<key>SOCKSProxy</key>
			<string>127.0.0.1</string>
		</dict>
		<key>SMB</key>
		<dict/>
		<key>UserDefinedName</key>
		<string>iPhone</string>
	</dict>
	<key>366D2C0E-B5FF-4FD5-BCE3-5ED19F23D7AD</key>
	<dict>
		<key>DNS</key>
		<dict/>
		<key>IPv4</key>
		<dict>
			<key>ConfigMethod</key>
			<string>DHCP</string>
		</dict>
		<key>IPv6</key>
		<dict>
			<key>ConfigMethod</key>
			<string>Automatic</string>
		</dict>
		<key>Interface</key>
		<dict>
			<key>DeviceName</key>
			<string>en3</string>
			<key>Hardware</key>
			<string>Ethernet</string>
			<key>Type</key>
			<string>Ethernet</string>
			<key>UserDefinedName</key>
			<string>Bluetooth PAN</string>
		</dict>
		<key>Proxies</key>
		<dict>
			<key>ExceptionsList</key>
			<array/>
			<key>HTTPEnable</key>
			<integer>0</integer>
			<key>HTTPPort</key>
			<integer>1087</integer>
			<key>HTTPProxy</key>
			<string>127.0.0.1</string>
			<key>HTTPSEnable</key>
			<integer>0</integer>
			<key>HTTPSPort</key>
			<integer>1087</integer>
			<key>HTTPSProxy</key>
			<string>127.0.0.1</string>
			<key>ProxyAutoConfigEnable</key>
			<integer>0</integer>
			<key>ProxyAutoConfigURLString</key>
			<string>http://127.0.0.1:8070/proxy.pac</string>
			<key>SOCKSEnable</key>
			<integer>0</integer>
			<key>SOCKSPort</key>
			<integer>1082</integer>
			<key>SOCKSProxy</key>
			<string>127.0.0.1</string>
		</dict>
		<key>SMB</key>
		<dict/>
		<key>UserDefinedName</key>
		<string>Bluetooth PAN</string>
	</dict>
	<key>47C67D24-8B54-4ED5-B226-D0D390F02EF5</key>
	<dict>
		<key>DNS</key>
		<dict/>
		<key>IPv4</key>
		<dict>
			<key>ConfigMethod</key>
			<string>DHCP</string>
		</dict>
		<key>IPv6</key>
		<dict>
			<key>ConfigMethod</key>
			<string>Automatic</string>
		</dict>
		<key>Interface</key>
		<dict>
			<key>DeviceName</key>
			<string>fw0</string>
			<key>Hardware</key>
			<string>FireWire</string>
			<key>Type</key>
			<string>FireWire</string>
			<key>UserDefinedName</key>
			<string>FireWire</string>
		</dict>
		<key>Proxies</key>
		<dict>
			<key>ExceptionsList</key>
			<array>
				<string>*.local</string>
				<string>169.254/16</string>
			</array>
			<key>FTPPassive</key>
			<integer>1</integer>
			<key>HTTPProxy</key>
			<string>localhost</string>
			<key>ProxyAutoConfigEnable</key>
			<integer>1</integer>
			<key>ProxyAutoConfigURLString</key>
			<string>http://127.0.0.1:16823/proxy_on.pac?1478128873908391904</string>
		</dict>
		<key>SMB</key>
		<dict/>
		<key>UserDefinedName</key>
		<string>FireWire</string>
	</dict>
	<key>8D3BCD2E-201A-41A0-90CA-B4B595D6415C</key>
	<dict>
		<key>DNS</key>
		<dict/>
		<key>IPv4</key>
		<dict>
			<key>ConfigMethod</key>
			<string>DHCP</string>
		</dict>
		<key>IPv6</key>
		<dict>
			<key>ConfigMethod</key>
			<string>Automatic</string>
		</dict>
		<key>Interface</key>
		<dict>
			<key>DeviceName</key>
			<string>bridge0</string>
			<key>Hardware</key>
			<string>Ethernet</string>
			<key>Type</key>
			<string>Ethernet</string>
			<key>UserDefinedName</key>
			<string>Thunderbolt 网桥</string>
		</dict>
		<key>Proxies</key>
		<dict>
			<key>ExceptionsList</key>
			<array/>
			<key>HTTPEnable</key>
			<integer>0</integer>
			<key>HTTPPort</key>
			<integer>1087</integer>
			<key>HTTPProxy</key>
			<string>127.0.0.1</string>
			<key>HTTPSEnable</key>
			<integer>0</integer>
			<key>HTTPSPort</key>
			<integer>1087</integer>
			<key>HTTPSProxy</key>
			<string>127.0.0.1</string>
			<key>ProxyAutoConfigEnable</key>
			<integer>0</integer>
			<key>ProxyAutoConfigURLString</key>
			<string>http://127.0.0.1:8070/proxy.pac</string>
			<key>SOCKSEnable</key>
			<integer>0</integer>
			<key>SOCKSPort</key>
			<integer>1082</integer>
			<key>SOCKSProxy</key>
			<string>127.0.0.1</string>
		</dict>
		<key>SMB</key>
		<dict/>
		<key>UserDefinedName</key>
		<string>Thunderbolt Bridge</string>
	</dict>
	<key>B4E1028D-46F8-4B10-8E12-2DC038DC923D</key>
	<dict>
		<key>DNS</key>
		<dict/>
		<key>IPv4</key>
		<dict>
			<key>ConfigMethod</key>
			<string>DHCP</string>
		</dict>
		<key>IPv6</key>
		<dict>
			<key>ConfigMethod</key>
			<string>Automatic</string>
		</dict>
		<key>Interface</key>
		<dict>
			<key>DeviceName</key>
			<string>en0</string>
			<key>Hardware</key>
			<string>Ethernet</string>
			<key>Type</key>
			<string>Ethernet</string>
			<key>UserDefinedName</key>
			<string>Ethernet</string>
		</dict>
		<key>Proxies</key>
		<dict>
			<key>ExceptionsList</key>
			<array/>
			<key>HTTPEnable</key>
			<integer>0</integer>
			<key>HTTPPort</key>
			<integer>1087</integer>
			<key>HTTPProxy</key>
			<string>127.0.0.1</string>
			<key>HTTPSEnable</key>
			<integer>0</integer>
			<key>HTTPSPort</key>
			<integer>1087</integer>
			<key>HTTPSProxy</key>
			<string>127.0.0.1</string>
			<key>ProxyAutoConfigEnable</key>
			<integer>0</integer>
			<key>ProxyAutoConfigURLString</key>
			<string>http://127.0.0.1:8070/proxy.pac</string>
			<key>SOCKSEnable</key>
			<integer>0</integer>
			<key>SOCKSPort</key>
			<integer>1082</integer>
			<key>SOCKSProxy</key>
			<string>127.0.0.1</string>
		</dict>
		<key>SMB</key>
		<dict/>
		<key>UserDefinedName</key>
		<string>Ethernet</string>
	</dict>
	<key>C854AF31-590A-4FB5-9F76-A661326440BE</key>
	<dict>
		<key>DNS</key>
		<dict/>
		<key>IPv4</key>
		<dict>
			<key>ConfigMethod</key>
			<string>DHCP</string>
		</dict>
		<key>IPv6</key>
		<dict>
			<key>ConfigMethod</key>
			<string>Automatic</string>
		</dict>
		<key>Interface</key>
		<dict>
			<key>DeviceName</key>
			<string>fw0</string>
			<key>Hardware</key>
			<string>FireWire</string>
			<key>Type</key>
			<string>FireWire</string>
			<key>UserDefinedName</key>
			<string>FireWire</string>
		</dict>
		<key>Proxies</key>
		<dict>
			<key>FTPPassive</key>
			<integer>1</integer>
			<key>ProxyAutoConfigEnable</key>
			<integer>1</integer>
			<key>ProxyAutoConfigURLString</key>
			<string>http://127.0.0.1:16823/proxy_on.pac?1487110943331039651</string>
		</dict>
		<key>SMB</key>
		<dict/>
		<key>UserDefinedName</key>
		<string>FireWire</string>
	</dict>
	<key>CED6ACF2-DB94-4642-97AA-0D9422A02FFD</key>
	<dict>
		<key>DNS</key>
		<dict/>
		<key>IPv4</key>
		<dict>
			<key>ConfigMethod</key>
			<string>DHCP</string>
		</dict>
		<key>IPv6</key>
		<dict>
			<key>ConfigMethod</key>
			<string>Automatic</string>
		</dict>
		<key>Interface</key>
		<dict>
			<key>DeviceName</key>
			<string>en1</string>
			<key>Hardware</key>
			<string>AirPort</string>
			<key>Type</key>
			<string>Ethernet</string>
			<key>UserDefinedName</key>
			<string>Wi-Fi</string>
		</dict>
		<key>Proxies</key>
		<dict>
			<key>ExceptionsList</key>
			<array/>
			<key>HTTPEnable</key>
			<integer>0</integer>
			<key>HTTPPort</key>
			<integer>1087</integer>
			<key>HTTPProxy</key>
			<string>127.0.0.1</string>
			<key>HTTPSEnable</key>
			<integer>0</integer>
			<key>HTTPSPort</key>
			<integer>1087</integer>
			<key>HTTPSProxy</key>
			<string>127.0.0.1</string>
			<key>ProxyAutoConfigEnable</key>
			<integer>0</integer>
			<key>ProxyAutoConfigURLString</key>
			<string>http://127.0.0.1:8070/proxy.pac</string>
			<key>SOCKSEnable</key>
			<integer>0</integer>
			<key>SOCKSPort</key>
			<integer>1082</integer>
			<key>SOCKSProxy</key>
			<string>127.0.0.1</string>
		</dict>
		<key>SMB</key>
		<dict/>
		<key>UserDefinedName</key>
		<string>Wi-Fi 2</string>
	</dict>
</dict>
</plist>
